#!/bin/bash

# {{ ansible_managed }}

### BEGIN INIT INFO
# Provides:          monasca-thresh
# Required-Start:    $nimbus
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:
# Short-Description: Monitoring threshold engine running under storm
# Description:
### END INIT INFO

case "$1" in
    start)
      $0 status
      if [ $? -ne 0 ]; then
        sudo -Hu {{thresh_user}} /opt/storm/current/bin/storm jar {{monasca_jar_dir}}/monasca-thresh.jar monasca.thresh.ThresholdingEngine {{ thresh_conf_file }} {{ thresh_topology_name }}
        exit $?
      else
        echo "monasca-thresh is already running"
        exit 0
      fi
    ;;
    stop)
      # On system shutdown storm is being shutdown also and this will hang so skip shutting down thresh in that case
      if [ -e '/sbin/runlevel' ]; then  # upstart/sysV case
        if [ $(runlevel | cut -d\  -f 2) == 0 ]; then
          exit 0
        fi
      else  # systemd case
        systemctl list-units --type=target |grep shutdown.target
        if [ $? -eq 0 ]; then
          exit 0
        fi
      fi
      sudo -Hu {{thresh_user}} /opt/storm/current/bin/storm kill {{ thresh_topology_name }}
      # The above command returns but actually takes awhile loop watching status
      while true; do
        sudo -Hu {{thresh_user}} /opt/storm/current/bin/storm list |grep {{ thresh_topology_name }}
        if [ $? -ne 0 ]; then break; fi
        sleep 1
      done
    ;;
    status)
        sudo -Hu {{thresh_user}} /opt/storm/current/bin/storm list |grep {{ thresh_topology_name }}
    ;;
    restart)
      $0 stop
      $0 start
    ;;
esac
