[Unit]
After=nimbus.target systemd-journald.socket basic.target system.slice zookeeper.service
Requires=basic.target
SourcePath={{ thresh_service_script }}
Description=LSB: Monitoring threshold engine running under storm
Conflicts=shutdown.target
Before=shutdown.target multi-user.target graphical.target

[Service]
Type=forking
Restart=always
RestartSec=10
TimeoutSec=5min
KillMode=process
IgnoreSIGPIPE=no
GuessMainPID=no
RemainAfterExit=yes
ExecStart={{ thresh_service_script }} start
ExecStop={{ thresh_service_script }} stop

[Install]
WantedBy=multi-user.target graphical.target

